{% extends "base.html" %} {% block content %}

<section class="my-5">
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>{{profile.user}}</h4>
                                    <p class="text-secondary mb-1">ِأدمين</p>
                                    <p class="text-muted font-size-sm">Adminstration</p>
                                    <button class="btn btn-outline-success">واتساب</button>
                                    <button class="btn btn-outline-primary">اتصال</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-center align-items-center flex-wrap">
                                <a href="#">
                                    <h6 class="mb-0 hover"> الفروع</h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">الاسم كاملا</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    أكرم مجدى
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">الايميل</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    akram_magdy@aman-fs.com
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    01234567890
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    01234567890
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">المنقطة</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    المعادى - حلوان
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters-sm">
                        <div class="col-12">
                            <div class="card-header">
                                <p class="w-100 my-1 p-2 rounded-pill bg-primary text-light text-center "><b>ادارة الصيانة</b></p>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-header text-center">
                                    <h2 class="btn-outline-info rounded ">الفروع</h2>
                                </div>
                                <div class="card-body">
                                    <div class="list-group" style="max-height: 200px; overflow-y: scroll;">
                                        {% for str in stores %}

                                        <a href="/stores/{{str.slug}}" class="list-group-item list-group-item-action">
                                            {{str.name}}
                                          </a> {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="card h-100">
                                <div class="card-header text-center">
                                    <h2 class="btn-outline-info rounded ">الزيارات</h2>
                                </div>
                                <div class="card-body">
                                    <div class="list-group" style="max-height: 200px; overflow-y: scroll;">
                                        <a href="#" class="list-group-item list-group-item-action"> العامرية  بتاريخ -     13 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">العجمى  بتاريخ -    13 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">الورديان  بتاريخ -    13 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">السيوف  بتاريخ -     14 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">باكوس  بتاريخ -     14 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">وينجت  بتاريخ -     14 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">المنشية  بتاريخ -     15 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">سيدى جابر  بتاريخ -     15 شهر فبراير</a>
                                        <a href="#" class="list-group-item list-group-item-action">عمر افندى - المنشية  بتاريخ -     15 شهر فبراير</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<h2>{{profile.user}}</h2>

<h4>{{profile.user.email}}</h4>


<h5>{{profile.phone_number}}</h5>
{% endblock content %}