{% extends "base.html" %} {% block content %}
<section class="my-5 py-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            {% for vis in visits %}
            <div class="col-lg-4 text-end">
                <div class="card">
                    <div class="card-header">
                        <h3>الفرع : {{vis.store}}</h3>
                    </div>
                    <div class="card-body">
                        <p>التاريخ : {{vis.date_visit}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}