
{% load static %}
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.1s">
                <div class="section-title bg-light rounded h-100 p-5">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Stores</h5>
                    <h1 class="display-6 mb-4">Aman Store IN Egypt </h1>

                    <a href="appointment.html" class="btn btn-primary py-3 px-5">Find</a>
                </div>
            </div>
            {% for store_card in stores %}

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">
                        <img class="img-fluid rounded-top w-100" src="{% static 'img/aman-branch.jpg' %}" alt="">
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fas fa-address-card"></i><small >Ahmed Magdy</small></a>
                            <a class="btn btn-primary btn-square m-1" href="#"></i></a>
                            <a class="btn btn-primary btn-square  m-1" data-bs-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapse2"><i class="fas fa-user"></i></a>
                            <a class="btn btn-primary btn-square  m-1" data-bs-toggle="collapse" href="#collapse1" role="button" aria-expanded="false" aria-controls="collapse1"><i class="fas fa-map-marker-alt"></i></a>
                         
                        </div>

                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <a href="{{store_card.slug}}"><h4 class="mb-2">{{store_card.name}}</h4></a>
                        <div class="collapse" id="collapse1">
                            <div class="card ">
                             <div class="card-header">
                                 العنوان
                             </div>
                             <div class="card-body">
                                 {{store_card.address_store}}
                             </div>
                            </div>
                        </div>
                        <div class="collapse" id="collapse2">
                            <div class="card ">
                             <div class="card-header">
                                 الادمين : {{srore_card.admen}}
                             </div>
                             <div class="card-body">
                                 <p><i class="fas fa-phone"></i>{{store_card.admen.mobile_num}</p>
                             </div>
                            </div>
                        </div>
                        <p class="text-primary mb-0">{{store_card.city}} - {{store_card.name_area}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="position-relative rounded-top" style="z-index: 1;">
                        <img class="img-fluid rounded-top w-100" src="{% static 'img/wagha.jpeg' %}" alt="">
                        <div class="position-absolute top-100 start-50 translate-middle bg-light rounded p-2 d-flex">
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-primary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="team-text position-relative bg-light text-center rounded-bottom p-4 pt-5">
                        <h4 class="mb-2">Dr. John Doe</h4>
                        <p class="text-primary mb-0">Implant Surgeon</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
