{% extends "base.html" %} {% load static %} {% block content %}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="{% static 'img/const/const4.jpg' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown"></h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">خدمة 24 ساعة</h1>
                        <a href="{% url 'new_visit' %}" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">صيانة طارئة</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="{% static 'img/const/repair.webp' %}" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h5 class="text-white text-uppercase mb-3 animated slideInDown"></h5>
                        <h1 class="display-1 text-white mb-md-4 animated zoomIn">طلب صيانة عادية</h1>
                        <a href="{% url 'new_visit' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">صيانة شهرية</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
    </div>
</div>
<!-- Carousel End -->



<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title text- mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">من نحن</h5>
                    <h1 dir="rtl" class="display-5 mb-0">شركة النصر للمقاولات والتوريدات العمومية والخدمات البترولية</h1>
                </div>
                <h4 dir="rtl" class="text-body fst-italic mb-4">مسجلة بالسجل التجارى للشركات ومصلحة الضرائب</h4>
                <p dir="rtl" class="mb-4">
                    شركة تشطيبات و مقاولات متخصصة فى كافة اعمال التشطيبات للشقق الفيلات و المحلات و المطاعم و الكافيهات و الصيدليات و العيادات و المبانى الادارية عن طريق تنفيذ تصميمات مبنية على اسس هندسية و ابعاد وضعت لتلبية الاحتياجات الوظيفية للمكان سواء اختيرت من قبل
                    العميل او مقترحة من قبلنا وذلك باسعار مناسبة لكافة المستويات و نقوم بعمل مقايسة لحساب اجمالى تكلفة اعمالك و قبل مرحلة التنفيذ نقوم بعمل تصميم ثلاثى الابعاد للوحدة لتشاهد شكل الوحدة النهائى قبل البدأ فى اى مرحلة من مراحل التشطيب
                </p>
                <p class="mb-4">
                    نقوم بعمل صيانات دورية لـ ( التكييفات - الابواب السيكوريت - الابواب الصاج - السباكة - الكهرباء والاضاءات)
                </p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn px-5" data-wow-delay="0.3s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3 px-2"></i>سرعة استجابة</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>فنيين محترفين</h5>
                    </div>
                    <div class="col-sm-6 wow zoomIn px-5" data-wow-delay="0.6s">
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>24/7 مفتوح</h5>
                        <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>أسعارنا عادلة</h5>
                    </div>
                </div>
                <a href="appointment.html" class="btn btn-primary py-3 px-5 mt-4 wow zoomIn" data-wow-delay="0.6s">تواصل معنا</a>
            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="{% static 'img/const/main.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

{% endblock content %}