{% extends 'base.html' %} {% load static %}{% load bootstrap5 %} {% block content %}

<div class="cotainer mt-5 py-5">
    <div class="row">
        <div class="col">
            <h3>
            </h3>
        </div>
    </div>
</div>
<!-- Contact Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-6 col-lg-6 wow slideInUp" data-wow-delay="0.1s">
                <div class="bg-light rounded h-100 p-5">
                    <div class="section-title">
                        <h5 class="position-relative d-inline-block text-primary text-uppercase">Detail</h5>
                        <h1 class="display-6 mb-4">Location & Email and Mobile Number</h1>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-geo-alt fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">{{store.area_name}}</h5>

                            <span>{{store.address_store}}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <i class="bi bi-envelope-open fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">ايميل الادمين</h5>
                            <span>name@aman-fs.com</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <i class="bi bi-phone-vibrate fs-1 text-primary me-3"></i>
                        <div class="text-start">
                            <h5 class="mb-0">رقم التليفون</h5>
                            <span>{{store.admen.mobile_num}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 wow slideInUp" data-wow-delay="0.6s">
                {% if store.location %} {{store.location}} {% else %}


                <iframe class="position-relative rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                    frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> {% endif %}
            </div>
            <div class="col-xl-12 col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                <form method="POST">
                    {% csrf_token %} {% bootstrap_form form_visit %}

                    <button type="submit" class="btn btn-outline-success">Send Request</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock content %}