{% load static %}
<section class="head">
    <div class="container-fluid bg-light ps-5 pe-0 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <small class="py-2"><i class="far fa-clock text-primary me-2"></i>Opening Hours: Sat - Thu : 10:00 am - 11.00 pm, Friday Closed </small>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>ElNasrCGS@Ouutlook.com.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+012 345 6789</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav dir="rtl" class="navbar rtl navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="{% url 'home' %}" class="navbar-brand p-0">
            <h1 class="m-0 text-primary"> <img src="{% static 'img/logo-elnasr.jpg' %}" alt=""> </i>النـصـر للمقاولات والتوريدات العمومية</h1>
        </a>
        <hr>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="{% url 'home' %}" class="nav-item nav-link active">الرئيسية</a>
                <a href="{% url 'stores' %}" class="nav-item nav-link">فروع أمان</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">خدمات</a>
                    <div class="dropdown-menu m-0">
                        <a href="add-proplem.html" class="dropdown-item">طلب صيانة اضافية</a>
                        <a href="fast-request.html" class="dropdown-item">طلب صيانة طارئة</a>
                        <a href="fix-search.html" class="dropdown-item">استعلام عن موعد زيارة فرع</a>
                    </div>
                </div>
                <a href="contact-us.html" class="nav-item nav-link">Contact</a>
            </div>
            <button type="button" class="btn text-dark" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
            <a href="appointment.html" class="btn btn-primary py-2 px-4 ms-3">طلب خدمة طوارئ</a>
        </div>
    </nav>
</section>